/* Singin page */

#form_body{
    background-color: rgb(41, 37, 37);
}
#form_head{
    background-color: aqua;
}

.form_main_div{
    display: flex;
    align-items: center;
    justify-content: space-around;

}
#form_p{
    margin-left: 500px;
}
.form_pic{
    margin-top: 20px;
}
#form_main{
    background-color: rgb(55, 168, 131);
    text-align: center;
}
#last{
    padding-bottom: 20px;
}
footer{
    background-color:rgb(30, 77, 78);
    height: 200px;
    width:auto;
    color: aliceblue;
    text-align: center;
}
#footer_p{
    padding-top: 50px;
}
/* First Page */
#first_page {
    background-color: rgb(25, 44, 20);
    height: 50px;
    display: flex;
    justify-content: center; /* Center the navbar horizontally */
    align-items: center; /* Center the navbar vertically */
}

#nav_li>li>a{
    color: rgb(20, 20, 20);
    
}
.button {
    padding: 12px 20px;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #87e0c0;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #999;
  }
  
  .button:hover {background-color: #3e8e41}
  
  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
ul {
    display: flex;
    justify-content: center; /* Center all list items */
    align-items: center; /* Center items vertically */
    gap: 10 0px; /* Add space between the items */
    margin: 0;
    padding: 0;
}

li > a {
    text-decoration: none;
    color: rgb(12, 12, 12);
    padding: 5px 10px; /* Add padding inside the links */
    text-align: center; /* Align text inside links */
    margin: 10px;
}

li {
    list-style: none;
}
#fh1,#fimg{
    padding-left: 25%;
}
#singupform{
    background-color: rgb(197, 243, 165);
    padding: 20px;
}

/* Rankngs */

.rankingteamp{
    display: flex;
    gap: 250px;
}
.rankingteamimg{
    display: flex;
    gap: 20px;
}
.rankingteamimg>img{
    width: 250px;
    padding-bottom: 20px;
}
#rnkp{
    text-align: center;
}
.rankings{
    background-color: rgb(24, 173, 116);
}

.rankingcal{
    padding: 5px;
    background-color: antiquewhite;
}
.Tdn{
    background-color: rgb(145, 181, 247);
    padding: 20px;
}
#nj{
    width: 500px;
}
.tdnp{
    background-color: #c2bbbb;
}
.tdnh{
    background-color: #fff;
    text-align: center;
}
.MatchUP{
    border: 2px black solid;
    margin-top: 10px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.matchup{
    
    
    height: 150px;
    width: 400px;
    background-color: #cef771;
}
.matchup>p{
    text-align: center;
    color: #000000;

}
.matchp{
    background-color: #ffffff;
    height: 50px;
    
}
.logo{
    display: flex;
    justify-content: center;
}
.logo>img{
    margin: 20px;
}
